.inputcontainer {
	width: 400px;
    position:absolute;
    right:5px;
    top:0px;
    z-index:500;
    background-color: transparent;
    color: black;
}

.inpucontainer-spacer {
    width: 400px;
    height: 30px;
    margin-top: -4px;
}

.inputcontainer input.search{
	color: #AAA;
	}

.inputcontainer.active input.search{
	color: #444;
}
#panel-middle .inpucontainer-spacer {
    display: inline-block;
}


#panel-brand .inpucontainer-spacer {
}

.inputcontainer.in-panel-brand {
}
.inputcontainer.in-panel-middle {
}
.inputcontainer.in-panel-top {
}

.inputcontainer.v263 {
	right: 0px;
	top: 70px;
}

.inputcontainer.active {
    background-color: #fff;
}

.better-autocomplete > .result > p > a{
	font-size: 11px;
	line-height: 1.3;
	color: #6f6f6f;
	padding: 0;
	margin: 0;
	padding-left: 5px;
}

ul.better-autocomplete {
    max-height: 1000px;
}


.inputcontainer.s4-static {
    position: relative;
    right: auto;
    top: -3px;
}


.better-autocomplete > .result {
  padding: 3px 7px;
}

#themeactions li {float:left; margin-right: 5px;}
#themeactions li a{cursor: pointer;}
