.inputcontainer {
	width: 400px;
    position:absolute;
    right:5px;
    top:0px;
    z-index:500;
    color: black;
}

#mysearchbox{
	height:32px;
	top: 0px;
}

.inpucontainer-spacer {
    width: 400px;
    height: 30px;
    margin-top: -4px;
}

/* .septimasearch{ */
/*     box-shadow: #666 0px 2px 3px; */
/* } */

