/* s4's farve-css. Kopiér til /css/custom/s4Color.css, hvis du vil ændre i den */
.septimasearch ul.better-autocomplete li.ssDetailHeader{
	background-color: #005292;
    background: -webkit-linear-gradient(left,#0070b0,#005292);
    /* background: -webkit-linear-gradient(left,#005292,#005292); */
}

.septimasearch .ssTargetbit .ssTargetlabel, .septimasearch .ssTargetbit .ssTargetclosebutton{
    background-color: #005292;
} 