.septimasearch ul.better-autocomplete li.ssDetailHeader{
    background-color: rgb(59, 68, 73);
    background: -webkit-linear-gradient(left, rgb(59, 68, 73), rgb(59, 68, 73));
}

.septimasearch .ssTargetbit .ssTargetlabel, .septimasearch .ssTargetbit .ssTargetclosebutton{
    background-color: rgb(59, 68, 73);
} 

.septimasearch li.ssDetailHeader .ssBackButton:hover{
    background-color: rgb(59, 68, 73);
    background: -webkit-linear-gradient(left, rgb(59, 68, 73), rgb(59, 68, 73));
}
