/* Mindre header*/
.septimasearch li.ssDetailHeader .ssBackButton {
    padding: 0px 25px 0 8px;
    display: inline-block;
    background-color: rgba(0, 0, 0, 0);
    transition: all 0.5s ease;
}
.septimasearch li.ssDetailHeader .ssBackButton:hover .ssTxt {
  transition: all 0.5s ease;
}
.septimasearch li.ssDetailHeader .ssResult .ssResultTitle {
    font-size: 12px;
    margin: 7px;
}
.septimasearch li.ssDetailHeader .ssResult .ssResultImage {
    width: 32px;
    height: 32px;
    display: none;
}
.septimasearch li.ssDetailHeader .ssResult .ssResultImage img {
    width: 32px;
    height: 32px;
}

.septimasearch li.ssDetailHeader .ssResult {
    padding-left: 40px;
}